html {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-image: url('../cssMemSlider/assets/img/fon.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.5rem;
}

body {
    width: 75%;
    height: 75%;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: 1fr repeat(5, 2%); */
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: stretch;
}

h2 {
    text-align: center;
}

.slider_check {
    grid-row: 2;
    display: none;
}

.slider_image {
    display: none;
    grid-row: 1;
    grid-column: 1 / -1;
    border-radius: 5px;
    border: solid 2px #ffffff;
    box-shadow: 0px 0px 6px 0px #ffffff;
}

.text {
    grid-column: 1;
    grid-row: 2;
    /* grid-row: 3; */
    display: none;
}

.slider_check:checked+.slider_image {
    display: block;
}

.slider_check:checked+.slider_image+.text {
    display: block;
}

.lable_div {
    display: flex;
    gap: 3px;
}

label {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: solid 3px #ffffff;
    background-color: #ffffff;
}

#slider_check1:checked~.lable_div>label:nth-child(1),
#slider_check2:checked~.lable_div>label:nth-child(2),
#slider_check3:checked~.lable_div>label:nth-child(3),
#slider_check4:checked~.lable_div>label:nth-child(4),
#slider_check5:checked~.lable_div>label:nth-child(5) {
    background-color: transparent;
}


@media only screen and (max-device-width:1900px) {
    .lable_div {
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: center
    }

    .text {
        grid-row: 3;
    }
}